{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">À Propos de FinanceViz</h1>
        <div class="row">
            <div class="col-lg-6">
                <h2>Qu'est-ce que FinanceViz ?</h2>
                <p>FinanceViz est une plateforme interactive qui vous permet de visualiser et d'analyser vos données financières de manière simple et efficace. Que vous soyez un particulier, une entreprise ou un analyste, notre outil vous aide à mieux comprendre vos finances grâce à des graphiques clairs et personnalisables.</p>
            </div>
            <div class="col-lg-6">
                <h2>Nos Objectifs</h2>
                <p>Notre objectif est de rendre les données financières accessibles à tous. Nous mettons à votre disposition des outils puissants pour analyser vos ventes, vos dépenses, vos investissements et bien plus encore. Avec FinanceViz, transformez vos données en informations claires et exploitables.</p>
            </div>
        </div>
        <hr>
        <div class="text-center mt-4">
            <h2>Notre Équipe</h2>
            <p>FinanceViz a été conçu dans le cadre d'un projet Django, porté par une passion pour l'analyse des données et le développement web. Ce projet personnel vise à offrir une plateforme simple et interactive pour la visualisation des données financières.

                En tant que développeur, j'ai utilisé Django pour construire une solution robuste et flexible, permettant aux utilisateurs d'importer et de visualiser leurs données financières sous forme de graphiques interactifs. Ce projet est une fusion entre mon intérêt pour la technologie et les données financières, avec l'objectif de rendre l'analyse des données accessible à tous, en toute simplicité.</p>
        </div>
        
    </div>
{% endblock %}
