{% extends 'base.html' %}

{% block title %}Contact | FinanceViz{% endblock %}

{% block content %}
    <h2>Contactez-moi</h2>
    <p>Vous pouvez me contacter via les informations ci-dessous ou me suivre sur mes profils sociaux.</p>

    <div class="mt-4">
        <h4>Mes informations :</h4>
        <ul>
            <li><strong>Email :</strong> kouritazounoogo442@gmail.com</li>
            <li><strong>Téléphone :</strong> +212658810471</li>
        </ul>
    </div>

    <div class="mt-4">
        <h4>Réseaux sociaux :</h4>
        <ul class="list-unstyled d-flex">
            <li class="me-3">
                <h4>LinkedIn</h4>
                <p>Connectez-vous avec moi sur LinkedIn :</p>
                <a href="https://www.linkedin.com/in/zounoogo-kourita" target="_blank" class="btn btn-primary">Voir mon profil LinkedIn</a>
            </li>
            <li>
                <h4>GitHub</h4>
                <p>Consultez mes projets sur GitHub :</p>
                <a href="https://github.com/zounoogo" target="_blank" class="btn btn-secondary">Voir mon GitHub</a>
            </li>
        </ul>
    </div>
{% endblock %}
